<!DOCTYPE html>
<html>
<head>
  <title>SeatYoSelf</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Seat YoSelf</h1>
  <p>Welcome, </p>
<%= yield %>
<footer>
  <p>Contact Us | Placeholder</p>
</footer>

</body>
</html>
